# Respect skipLibCheck
common --@aspect_rules_ts//ts:skipLibCheck=honor_tsconfig

# for --ios_device=
common --flag_alias=ios_device=@build_bazel_rules_apple//apple/build_settings:ios_device

build --symlink_prefix=.bazel/
build:opt -c opt

# See: https://bazel.build/advanced/performance/json-trace-profile
# chrome://tracing to view
build:profile --generate_json_trace_profile --profile profile.gz

build:explain --explain=/tmp/explanation.txt --verbose_explanations

build:ios --ios_multi_cpus=arm64

run:quiet --ui_event_filters=-info,-debug,-warning,-stderr,-stdout  --noshow_progress

# test_output=all to always show test output
# test --test_output=errors
test:log --test_output=all
test:no_sandbox --spawn_strategy=local
# test_filter= to restrict to certain tests

# Allow the Bazel server to check directory sources for changes. Ensures that the Bazel server
# notices when a directory changes, if you have a directory listed in the srcs of some target.
# Recommended when using
# [copy_directory](https://github.com/aspect-build/bazel-lib/blob/main/docs/copy_directory.md) and
# [rules_js](https://github.com/aspect-build/rules_js) since npm package are source directories
# inputs to copy_directory actions.
# Docs: https://bazel.build/reference/command-line-reference#flag--host_jvm_args
startup --host_jvm_args=-DBAZEL_TRACK_SOURCE_DIRECTORIES=1

# https://www.buildbuddy.io/blog/debugging-slow-bazel-builds
startup --digest_function=BLAKE3
common --nolegacy_important_outputs

# https://github.com/bazelbuild/rules_apple/blob/master/doc/common_info.md#xcode-version-selection-and-invalidation
startup --host_jvm_args=-Xdock:name=/Applications/Xcode16.2.app/Contents/Developer
build --xcode_version=16C5032a
build --repo_env=XCODE_VERSION=16C5032a
build --repo_env=DEVELOPER_DIR=/Applications/Xcode16.2.app/Contents/Developer
# Manage xcode versions with:
# print current version
# xcode-select -p
# pick xcode version
# sudo xcode-select -s /Applications/Xcode15.app/Contents/Developer

