<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>NSCalendarsFullAccessUsageDescription</key>
		<string>Read access to calendar events to push to g1 glasses</string>
		<key>NSRemindersFullAccessUsageDescription</key>
		<string>Read access to reminders to push to g1 glasses</string>
		<key>NSBluetoothAlwaysUsageDescription</key>
		<string>Uses bluetooth to connect to g1 glasses</string>
		<key>NSSpeechRecognitionUsageDescription</key>
		<string>Support speech recognition for transcription</string>
		<!-- <key>NSMicrophoneUsageDescription</key> -->
		<!-- <string>Microphone for on device listening</string> -->
		<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
		<string>Location for navigation feature</string>
		<key>NSLocationWhenInUseUsageDescription</key>
		<string>Location for navigation feature</string>
		<!-- <key>NSLocationAlwaysUsageDescription</key> -->
		<!-- <string>Your app needs always-on location access to provide [specific reason].</string> -->
		<key>UIBackgroundModes</key>
		<array>
			<string>bluetooth-central</string>
			<string>bluetooth-peripheral</string>
			<string>location</string>
		</array>

		<!-- Boilerplate -->
		<key>UILaunchScreen</key>
		<dict>
		</dict>
		<key>CFBundleDevelopmentRegion</key>
		<string>en</string>
		<key>CFBundleExecutable</key>
		<string>$(EXECUTABLE_NAME)</string>
		<key>CFBundleIdentifier</key>
		<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
		<key>CFBundleInfoDictionaryVersion</key>
		<string>6.0</string>
		<key>CFBundleName</key>
		<string>$(PRODUCT_NAME)</string>
		<key>CFBundlePackageType</key>
		<string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
		<key>CFBundleShortVersionString</key>
		<string>1.0</string>
		<key>CFBundleVersion</key>
		<string>1</string>
		<key>LSRequiresIPhoneOS</key>
		<true />
		<key>MinimumOSVersion</key>
		<string>17.0</string>
		<key>UIRequiredDeviceCapabilities</key>
		<array>
			<string>armv7</string>
		</array>
		<key>UISupportedInterfaceOrientations</key>
		<array>
			<string>UIInterfaceOrientationPortrait</string>
			<string>UIInterfaceOrientationPortraitUpsideDown</string>
			<string>UIInterfaceOrientationLandscapeLeft</string>
			<string>UIInterfaceOrientationLandscapeRight</string>
		</array>
	</dict>
</plist>
