<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="examples.android.app">
    <uses-sdk
        android:minSdkVersion="26"
        android:targetSdkVersion="34"
    />

    <application
        android:label="Bazel Example">

        <activity
            android:name="examples.android.lib.MainActivity"
            android:exported="true"
            android:label="Bazel Example">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
